# URL backend API
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# Midtrans client key (public, aman di frontend)
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx

# Untuk production: ganti ke https://app.midtrans.com/snap/snap.js
# Di layout.tsx ganti juga script src-nya
