# Backend API
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# Midtrans (ambil dari dashboard Midtrans)
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxx
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
