# ─── App ─────────────────────────────────────────────────
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:3001

# ─── Database ─────────────────────────────────────────────
DATABASE_URL="postgresql://user:password@localhost:5432/beathive_db"
REDIS_URL="redis://localhost:6379"

# ─── Auth ─────────────────────────────────────────────────
JWT_SECRET=ganti_dengan_random_string_panjang_minimal_64_karakter
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=ganti_dengan_random_string_berbeda
JWT_REFRESH_EXPIRES_IN=30d
JWT_RESET_SECRET=ganti_dengan_random_string_khusus_reset_password

# ─── Google OAuth ─────────────────────────────────────────
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# ─── AWS S3 ───────────────────────────────────────────────
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET_PRIVATE=beathive-files-private
AWS_S3_BUCKET_PUBLIC=beathive-previews-public
AWS_CLOUDFRONT_DOMAIN=https://cdn.yourdomain.com

# ─── Payment ──────────────────────────────────────────────
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_WEBHOOK_SECRET=your_webhook_secret

# ─── Email ────────────────────────────────────────────────
MAILGUN_API_KEY=your_mailgun_key
MAILGUN_DOMAIN=mg.yourdomain.com
EMAIL_FROM=noreply@yourdomain.com
